.navbar-text {
  font-size: 2rem;
  color: aqua;
}

.brand-img{
  width: 50px;
  filter: invert(80%);

}

.color-nav {
  background-color: transparent;
  z-index: 999;
  color: white;
}

.color-nav-scroll {
  color: white;
  position: sticky;
  top: 0;
  background-color: #181818;
  width: 100%;
  z-index: 999;
  height: auto;
  animation: appear 1s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.nav-brand {
  width: 50px;
}
.nav-icon {
  cursor: pointer;
  margin-right: 0.2rem;
  color: lightgrey;
}

.nav-link {
  color: #d9d9d9;
}

.nav-icon:hover {
  color: white;
}


.title-brand {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 20px;
}

@media (max-width: 992px) {

  .color-nav{
    background-color: #181818;
  }
   .nav-cont-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
   }
   .nav-text-icon{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 1rem;

   }
}